<div class="static-page">

  <h1>Quotes Journalingって何？</h1>
  <h5>Quotes Journalingは、名言を投稿して、名言を共有するサイトです。</h5>
  <br>

  <h2>①名言(クォーツ)を投稿する</h2>
  <h5>名言を投稿するには、以下の手順を実行してください。</h5>

  <ol>
    <li>画面右下の万年筆のマークを選択します。</li>
    <li>あなたの投稿に関する項目を埋めてください。</li>
    <li>*のある項目は必須項目です。</li>
    <li>引用元、著作権に関する同意のチェックボックスにチェックを入れてください。</li>
      <a>※問題のある投稿は削除される可能性があります。詳しくは<a href="<%= terms_path %>", class="underline">利用規約</a>をご確認ください。</a>
    <li>「投稿する」ボタンを押して、名言を投稿してください。</li>
  </ol>

  <h5>投稿の各項目について</h5>
  <ul>
    <li>Your Quotes (あなたの投稿)*</li>
      <a>投稿する名言を入力してください。</a>
    <li>Quotes type (クォーツの種類)*</li>
      <a>名言の種類を選択してください。</a>
      <ul>
        <li>Historical : 歴史上の偉人の名言</li>
        <li>Celebrity : 現代の著名人の名言</li>
        <li>Fictional : 小説、映画、アニメなどで使われた名言</li>
        <li>Original : 自分や身の回りの人の名言</li>
      </ul>
    <li>Author of the Quotes (クォーツの発言者)*</li>
      <a>名言の発言者を入力してください。</a>
    <li>Source of the Quotes (出典)</li>
      <a>名言の出典を入力してください。</a>
    <li>writer (出典の著者)</li>
      <a>名言の出典の著者を入力してください。</a>
    <li>note (紹介内容)*</li>
      <a>名言の紹介内容を入力してください。(名言が使用された場面、状況、どうして名言だと思ったか、など)</a>
  </ul>

  <h5 style="color: #e49898ff;">↓  投稿の例です</h5>
  <img src="<%= asset_url('example_quote.png') %>" alt="example_quote" class="example-image">


  <h2>②名言をいいねする</h2>
  <a>名言をいいねするには、投稿の「いいねボタン」を押してください。</a><br>
  <a>名言をいいねを押すと、名言の「いいね数」が増加します。</a><br>
  <a>もう一度押すといいねが解除されます。</a><br>
  <a>いいねした名言は、マイページの「いいねした投稿」から確認できます。</a><br>
  <br>

  <h2>③名言を削除、編集する</h2>
  <a>タイムラインの中で名言をクリックすると、クォーツの詳細を見ることができます。</a><br>
  <a>クォーツの詳細ページでは、自分の投稿の場合のみ右上に編集・削除のボタンが表示されます。</a><br>
  <a>編集ボタンを押すと、名言の編集画面が表示されます。</a><br>
  <a>削除ボタンを押すと、名言が削除されます。</a><br>
  <br>

  <h2>④マイページ</h2>
  <a>ユーザー名・アイコンをクリックすると、ユーザーの詳細ページが表示されます。</a><br>
  <a>画面右上の自分のアイコン、もしくはユーザー名・アイコンをクリックすると、マイページが表示されます。</a><br>
  <a>マイページでは、自分の投稿を確認できます。</a><br>
  <a>マイページにはいくつかの機能があります。</a><br>
  <a>画面右側にあるプルダウンから、下記の機能を使用できます。</a><br>
  <ul>
    <li>プロフィールを編集：ユーザー名、アイコン、自己紹介文を変更できます。</li>
    <li>いいねした投稿：いいねした名言を確認できます。</li>
    <li>ログアウト：アカウントからログアウトします。</li>
    <li>LINEアカウントと連携/連係解除：LINEアカウントと連携できます。</li>
      <a style="color: #fdff6aff;">※LINEアカウントと連携することで、毎日20時におすすめの投稿がLINEメッセージで受信できます。</a><br>
      <a style="color: #fdff6aff;">メッセージを受信するためには公式アカウントと友だちになる必要があります。</a><br>
      <a style="color: #fdff6aff;">紹介する投稿が無い時はメッセージは送信されません。</a><br>
    <li>アカウントを削除：アカウントを削除できます。戻すことができませんのでご注意ください。</li>
  </ul>
  <br>

  <h2>⑤名言を検索する</h2>
  <a>画面上部の虫眼鏡マークを押すと、名言を検索できます。</a><br>
  <a>条件に沿った検索ができます。</a><br>
  <br>

  <h2>⑥いいねランキング</h2>
  <a>画面右上の「いいねランキング」を押すと、いいねが多い名言を表示できます。</a><br>
  <a>いいねランキングには週間ランキングと通算ランキングがあります。</a><br>
  <br>

  <h2>⑦名言にコメントをする</h2>
  <a>名言をクリックすると、名言の詳細ページが表示されます。</a><br>
  <a>名言詳細ページでは、画面下部よりコメントを投稿できます。</a><br>
  <br>

  <h2>⑧名言、コメントを通報する</h2>
  <a>名言詳細画面には通報ボタンがあります。</a><br>
  <a>コメントにも通報ボタンがあります。</a><br>
  <a>通報の内容によって名言やコメントが削除されます。</a><br>
  <br>

  <div class="underline">
    <%= link_to '戻る', root_path %>
  </div>
</div>