<h1>プライバシーポリシー</h1><br>

<h3>お客様から取得する情報</h3>
<p>本サービスは、お客様から以下の情報を取得します。</p>

<li>メールアドレス</li>
<li>ユーザー名</li>
<li>外部サービスでお客様が利用するID、その他外部サービスでのプライバシー設定によりお客様が連携先に開示を認めた情報</li>
<br>
<h3>お客様の情報を利用する目的</h3>
<p>本サービスは、お客様から取得した情報を以下の目的で利用します。</p>

<li>開発者サービスに関する登録の受付、お客様の本人確認、認証のため</li>
<li>お客様の開発者サービスの利用履歴を管理するため</li>
<li>開発者サービスにおけるお客様の行動履歴を分析し、開発者サービスの維持改善に役立てるため</li>
<li>以上の他、開発者サービスの提供、維持、保護及び改善のため</li>
<br>
<h3>安全管理のために講じた措置</h3>
<p>開発者が、お客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。</p>
<br>
<h3>第三者提供</h3>
<p>開発者は、お客様から取得する情報のうち、個人データ（個人情報保護法第１６条第３項）に該当するものついては、あらかじめお客様の同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。</p>

<p>但し、次の場合は除きます。</p>

<li>個人データの取扱いを外部に委託する場合</li>
<li>本サービスが買収された場合</li>
<li>事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</li>
<li>その他、法律によって合法的に第三者提供が許されている場合</li>
<br>
<h3>プライバシーポリシーの変更</h3>
<p>開発者は、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。</p>
<br>
<h3>運営者情報</h3>
<p>本サービスは個人開発者により運営されています。</p>
<br>
<p>運営者名：うぃんそあー</p>
<p>お問い合わせ先：saitoh.katsuto.19971027@gmail.com</p>
<br>
<p>※氏名・住所などの詳細情報については、正当な理由による請求があった場合に、遅滞なく開示いたします。</p>
<br>
<p>2025年5月3日</p>
<br>
<%= link_to '戻る', root_path %>