<div class="quote-form-title">
  <h1>クォーツを編集</h1>
  <h6>*のある項目は必須項目です。</h6>
</div>

<%= render 'form' %>

<div class="return-button">
  <%= link_to "戻る", quotes_path, class: "btn btn-secondary" %>
</div>