<% flash.each do |type, message| %>
  <% css_class = case type.to_sym
     when :notice then 'notice'
     when :alert, :error, :danger then 'alert'
     else 'alert alert-info'
  end %>
  <div class="flash-message <%= css_class %>">
    <%= message %>
  </div>
<% end %>
