<div class="main-page">
  <div class="examplequote examplequote--center">
    <h1>Quotes Journaling</h1>
  </div>

  <%= link_to "ログイン", new_user_session_path %>

  <div class="examplequote examplequote--right">
    <h5>"天才とは、努力する凡才のことである。"</h5>
    <p>—Albert Einstein</p>
  </div>

  <div class="examplequote examplequote--left">
    <h5>"モチベーションという概念は、希望につながっていなければならない。"</h5>
    <p>—Ryu Murakami</p>
  </div>

  <div class="examplequote examplequote--right">
    <h5>"人にできて、君だけにできないなんてことあるもんか。"</h5>
    <p>—Doraemon</p>
  </div>

</div>