@import "bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";
@import "autocomplete";

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.user-avatar {
  border-radius: 50%;
  margin-right: 10px
}