<p><%= @resource.email %></p>

<p>パスワードの再設定を行います。
以下のリンクをクリックして、新しいパスワードを設定してください。</p>

<p><%= link_to 'パスワードの再設定', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>本メールは、パスワードの再設定のための自動送信メールです。
ご返信いただいても、パスワードの再設定は行われません。</p>
