<!DOCTYPE html>
<html>
  <head>
    <title>QuotesJournaling</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--一時的なコメントアウト<%= javascript_importmap_tags %>-->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
